@use '../design/colors';

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  min-width: 100vh;

  background: colors.$background;;
}
